nemo-toolkit[all]
tritonclient[all]
transformer_engine[pytorch]
pytorch-lightning
hydra-core
pyannote.audio
jiwer
lhotse
webdataset
editdistance
datasets
einops
wonderwords
google-generativeai
openai
tiktoken
html2text
transformers==4.44.2
flask
flask_restful
vllm==0.5.4
sshtunnel_requests
huggingface_hub==0.23.4
accelerate
tenacity
